<div class="footer-padding"></div>
<div class="footer container-fluid">
    <p class="text-light">© 2023 Palash Bharati
        <br>
        <small style="color: #9CA3AF;">Formula One, Formula 1, F1 & Grand Prix are trademarks of
            Formula One Licensing BV.</small>
    </p>
    <div id="footer-icons footer">
        <a href="https://twitter.com/BharatiPalash" target="_blank"><i class="fab fa-twitter f-icon fa-2x"
                style="color: #595C5F;"></i></a>
        <a href="https://www.linkedin.com/in/palash-bharati-57ab5019a/" target="_blank"><i
                class="fab fa-linkedin f-icon fa-2x" style="color: #595C5F;"></i></a>
        <a href="https://github.com/Palash1912" target="_blank"><i class="fab fa-github f-icon fa-2x"
                style="color: #595C5F;"></i></a>
        <a href="mailto:mr.palashbharati@gmail.com" target="_blank"><i class="fas fa-envelope f-icon fa-2x  "
                style="color: #595C5F;"></i></a>
    </div>
</div>
</div>

</body>

</html>