<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1 PitStop</title>

  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <!-- css -->
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="shortcut icon" href="/images/f1-favicon.png" type="image/x-icon">
</head>

<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/">
          <img src="images/logo-removebg-preview.png" alt="" width="65px">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-end">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/calendar" class="nav-link px-2 text-white">Schedule</a></li>
          <li><a href="/results" class="nav-link px-2 text-white">Results</a></li>
          <li><a href="/standing" class="nav-link px-2 text-white">Standing</a></li>
          <li><a href="/driver" class="nav-link px-2 text-white">Driver</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
          <a href="https://www.buymeacoffee.com/mrpalashbhV" target="_blank"><button type="button"
              class="btn btn-warning"> Support
              Us</button></a>
        </div>
      </div>
    </div>
  </header>