<%- include("partials/header") -%>

    <div class="container">

        <h1 class="display-4 mt-4 mb-3">
            About
        </h1>

        <p>
            Welcome to the official <b>F1 PitStop</b> website, your ultimate source for up-to-date information on the
            world of
            Formula 1 racing. Here, you'll find everything you need to stay informed about the thrilling world of
            motorsport.

            Stay ahead of the game with our comprehensive coverage of upcoming races. Get the latest race schedules,
            track details, and all the essential information you need to know before the lights go out. Don't miss a
            single lap of the heart-pounding action.

        </p>
        <p> Be the first to know about breaking news and updates from the Formula 1 paddock. From driver transfers to
            technical advancements, we bring you the latest developments that shape the future of the sport. Stay
            connected to the pulse of Formula 1.

            Keep a close eye on the championship standings as the battle for glory unfolds. Track the progress of your
            favorite drivers and teams as they vie for the coveted titles. Witness the drama and excitement as the
            season progresses and new stories unfold.
        </p>
        <p>
            Immerse yourself in the world of Formula 1 with exclusive features, interviews, and insights. Get
            behind-the-scenes access to the personalities that make this sport so special. Experience the thrill of
            Formula 1 from a unique perspective.

            Whether you're a lifelong fan or new to the world of motorsport, the Formula 1 website is your gateway to
            the exhilarating world of Formula 1 racing. Explore our content and let us fuel your passion for speed,
            precision, and relentless competition. Get ready to dive into the extraordinary world of Formula 1.
        </p>
    </div>

    <div class="container mt-4">
        <h1 class="display-4 mt-2">Contact Us</h1>
        <p class="mt-4">
            We're always here to help! If you have any questions or concerns, please don't
            hesitate to reach out to our friendly customer support team. You can contact us via
            phone, email, or through our online contact form. We strive to provide prompt and personalized
            assistance to ensure your experience with our currency exchange site is a positive one. Thank
            you for choosing us as your go-to source for currency exchange needs.
        </p>
        <p>
            <button type="button" class="btn btn-primary">
                <a href="mailto:mr.palashbharati@gmail.com" target="_blank"
                    style="text-decoration: none; color: white;">
                    Contact
                </a>
            </button>
        </p>
    </div>

    <%- include("partials/footer") -%>