<%- include("partials/header") -%>

<div class="container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-4 mt-4 mb-3 fw-bold">
        <small class="text-body-secondary">Welcome to</small>
        Emilia Romagna Grand Prix
      </h1>

      <hr class="border border-primary border-2 opacity-50" />
      <img class="img-fluid mt-3 mb-3" src="/images/imola.avif" alt="" />
      <br />
    </div>
    <div class="card col-lg-6 col-md-12 col-sm-12">
      <div class="card-body" style="max-width: 540px">
        <h1 class="display-6 fw-bold">Circuit Info</h1>
        <p class="col-md-8 fs-5 mt-3">Autodromo Enzo e Dino Ferrari</p>
        <p class="col-md-8 fs-5 mt-3">Imola, Italy</p>
        <br />
        <hr class="border border-danger border-2 opacity-50" />
        <h5 class="card-title display-6 fw-bold">Important Update</h5>
        <br />

        <p class="card-text">
          Following discussions between Formula 1, the President of the FIA, the
          competent authorities – including the relevant Ministers, the
          President of the Automobile Club of Italy, the President of
          Emilia-Romagna Region, the Mayor of the City and the promoter – the
          decision has been taken <b> not to proceed </b> with the Grand Prix
          weekend at Imola.
        </p>

        <p class="card-text">
          The decision has been taken because it is not possible to safely hold
          the event for our fans, the teams and our personnel and it is the
          right and responsible thing to do given the situation faced by the
          towns and cities in the region. It would not be right to put further
          pressure on the local authorities and emergency services at this
          difficult time.
        </p>

        <button button type="button" class="btn btn-secondary mt-4 me-2">
          <a href="/results" style="text-decoration: none; color: aliceblue"
            >Back</a
          >
        </button>
        <button button type="button" class="btn btn-primary mt-4">
          <a
            href="http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari"
            style="text-decoration: none; color: aliceblue"
            >More Info</a
          >
        </button>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
