<%- include("partials/header") -%>

  <div class="container">

    <h1 class="display-4 mt-4 mb-5">
      <small class="text-body-secondary">Check out</small>
      F1 Drivers 2023
    </h1>

    <div class="table-responsive mb-5">
      <table class="table table-hover">
        <thead>
          <tr class="border">
            <th scope="col">Number</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Team</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="table-primary">
            <th scope="row">1</th>
            <td>Max</td>
            <td>Verstappen</td>
            <td>Red Bull Racing</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">11</th>
            <td>Sergio</td>
            <td>Pérez</td>
            <td>Red Bull Racing</td>
          </tr>
          <tr class="table-info">
            <th scope="row">44</th>
            <td>Lewis</td>
            <td>Hamilton</td>
            <td>Mercedes</td>
          </tr>
          <tr class="table-info">
            <th scope="row">63</th>
            <td>George</td>
            <td>Russel</td>
            <td>Mercedes</td>
          </tr>
          <tr class="table-success">
            <th scope="row">14</th>
            <td>Fernando</td>
            <td>Alonso</td>
            <td>Aston Martin</td>
          </tr>
          <tr class="table-success">
            <th scope="row">18</th>
            <td>Lance</td>
            <td>Stroll</td>
            <td>Aston Martin</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">55</th>
            <td>Carlos</td>
            <td>Sainz</td>
            <td>Ferrari</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">16</th>
            <td>Charles</td>
            <td>Leclerc</td>
            <td>Ferrari</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">4</th>
            <td>Lando</td>
            <td>Norris</td>
            <td>McLaren</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">81</th>
            <td>Oscar</td>
            <td>Piastri</td>
            <td>McLaren</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">10</th>
            <td>Pierre</td>
            <td>Gasly</td>
            <td>Alpine</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">31</th>
            <td>Esteban</td>
            <td>Ocon</td>
            <td>Alpine</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">27</th>
            <td>Nico</td>
            <td>Hülkenberg</td>
            <td>Haas F1 Team</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">20</th>
            <td>Kevin</td>
            <td>Magnussen</td>
            <td>Haas F1 Team</td>
          </tr>
          <tr class="table-light">
            <th scope="row">22</th>
            <td>Yuki</td>
            <td>Tsunoda</td>
            <td>AlphaTauri</td>
          </tr>
          <tr class="table-light">
            <th scope="row">3</th>
            <td>Daniel</td>
            <td>Ricciardo</td>
            <td>AlphaTauri</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">77</th>
            <td>Valterri</td>
            <td>Bottas</td>
            <td>Alfa Romeo</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">24</th>
            <td>Zhou</td>
            <td>Guanyu</td>
            <td>Alfa Romeo</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">23</th>
            <td>Alexander</td>
            <td>Albon</td>
            <td>Williams</td>
          </tr>
          <tr class="table-dark">
            <th scope="row">2</th>
            <td>Logan</td>
            <td>Sargeant</td>
            <td>Williams</td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>


  <%- include("partials/footer") -%>