<%- include("partials/header") -%>

  <div class="container">
    <h1 class="display-4 mt-4 mb-3">
      <small class="text-body-secondary">Welcome to</small>
      F1 PitStop
    </h1>
    <hr class="border border-info border-2 opacity-50 mb-5">

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
      <div class="row">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic fw-bold mb-2">Revvin' Up: F1 News & Results</h1>
          <p class="lead my-3 mt-4">Get your daily dose of F1 action with F1 PitStop, providing the latest news,
            results,
            and championship updates at your fingertips.</p>
          <p class="lead mb-0 mt-4"><a href="/calendar" class="text-white fw-bold">Race Calendar...</a></p>
        </div>
      </div>
    </div>

    <!-- news -->
    <div class="row mb-2">
      <div class="col-md-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Drivers Champion</strong>
            <h3 class="mb-0">Max Dominates</h3>
            <div class="mb-1 text-body-secondary">November 26</div>
            <p class="mb-auto">Max Verstappen's brilliant run at the 2023 season showcased his exceptional
              dominance, marking his third consecutive Driver Championship title in Formula 1.</p>
            <a href="/standing" class="stretched-link mt-2">Continue reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-warning">Transfer</strong>
            <h3 class="mb-0">Hamilton Shocking Move</h3>
            <div class="mb-1 text-body-secondary">February 02</div>
            <p class="mb-auto">Lewis Hamilton will join Ferrari for the 2025 Formula One season. Hamilton will leave
              Mercedes at the end of the 2024 season and replace Carlos Sainz as Charles Leclerc's teammate.
            </p>
            <!-- <a href="/calendar/British%20Grand%20Prix%2010" class="stretched-link mt-2">Continue reading</a> -->
            <a href="/standing" class="stretched-link mt-2">Continue reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-danger">Lights Out, Away we GOOOOO</strong>
            <h3 class="mb-0">F1 2024</h3>
            <div class="mb-1 text-body-secondary">February 16</div>
            <p class="card-text mb-auto">The 2024 Formula 1 season is just around the corner.
              These are no ordinary humans. This is Formula 1. Extraordinary Starts: February 29, 2024 with Bahrain GP
            </p>
            <a href="/calendar" class="stretched-link mt-2">Continue reading</a>
          </div>
        </div>
      </div>
    </div>


    <h2 class="mt-4 text-primary">Next Race</h2>
    <!-- <hr class="border border-secondary border-3 dotted  "> -->

    <div class="container-fluid">
      <section class="mt-4">


        <div class="row mb-3">

          <div class="card text-bg-dark border-info mb-3 col-md-6" style="max-width: 540px;">
            <div class="row g-0 mt-3">
              <div class="col-md-4">
                <img src="images/bahrain.avif" class="img-fluid rounded-start mt-5" alt="..."
                  style="background-color: azure;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <strong class="d-inline-block mb-2 text-info">#RaceWeekend</strong>

                    <h3 class="text-warning"> Bahrain Grand Prix </h3>
                  </h5>
                  <div class="spinner-grow text-danger spinner-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <p class=" card-text">
                  <h6> 29 - 02 March </h6>
                  </p>
                  <p class="card-text lead">Round 1 - FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2024</p>
                  <p class="card-text mt-2"><small class="text-body-secondary">
                      <form action="/results/:race" method="post">
                        <a href="/results/Bahrain%20Grand%20Prix%201" style="color: aqua;">
                          Read More
                        </a>
                        <input type="hidden" name="round" value="9"></input>
                      </form>
                    </small></p>
                </div>
              </div>
            </div>
          </div>

          &emsp14;&emsp14;&emsp14;&emsp14;




          <div
            class="card mb-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative text-bg-light col-md-6"
            style="max-width: 540px;">
            <div class="row g-0 mt-3">
              <div class="col-md-4">
                <img src="images/jeddah.png" class="img-fluid rounded-start mt-5" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <strong class="d-inline-block mb-2 text-dark">#SaudiGP</strong>

                  <h5 class="card-title">
                    <h3 class="text-danger"> Saudi Arabia Grand Prix </h3>
                  </h5>
                  <p class="card-text">
                  <h6> 07 - 09 March </h6>
                  </p>
                  <p class="card-text lead">Round 2 - FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2024</p>
                  <p class="card-text mt-2"><small class="text-body-secondary">
                      <form action="/results/:race" method="post">
                        <a href="/results/Saudi%20Arabia%20Grand%20Prix%202">
                          Read More
                        </a>
                        <input type="hidden" name="round" value="8"></input>
                      </form>
                    </small></p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </section>
    </div>

  </div>

  <%- include("partials/footer") -%>