<%- include("partials/header") -%>

    <div class="container">

        <h1 class="display-4 mt-4 mb-3">
            <small class="text-body-secondary">Check out</small>
            F1 2023 Results
        </h1>

        <p>
            Welcome to the F1 2023 Results section! Here, you'll find comprehensive coverage of all the thrilling
            Formula 1 races held during the 2023 season. Get ready to dive into the world of high-speed racing as we
            bring you the latest updates, race highlights, and in-depth analysis of each Grand Prix. From nail-biting
            overtakes to strategic pit stops, our dedicated team of experts will provide you with a front-row seat to
            all the action happening on the track. Stay tuned to discover the race winners, podium finishes, fastest
            laps, and captivating moments that shape the championship battle. Whether you're a die-hard fan or a casual
            enthusiast, our F1 2023 Results section will keep you informed and entertained throughout the entire season.
        </p>
        <!-- <hr class="border border-primary border-2 opacity-50"> -->


        <div class="container-fluid">
            <section class="mt-5">
                <div class="row mb-3">
                    <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="images/bahrain.avif" class="img-fluid rounded-start mt-5" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <h3 class="text-danger"> Bahrain Grand Prix </h3>
                                    </h5>
                                    <p class="card-text">
                                    <h6> 03 - 05 March </h6>
                                    </p>
                                    <p class="card-text lead">Round 1 - FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023</p>
                                    <p class="card-text mt-2"><small class="text-body-secondary">
                                            <a href="/results/Bahrain%20Grand%20Prix%201">
                                                Read More
                                            </a>
                                        </small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    &emsp14;&emsp14;&emsp14;&emsp14;

                    <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="images/jeddah.png" class="img-fluid rounded-start mt-5" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <h3 class="text-danger"> Saudi Arabia Grand Prix </h3>
                                    </h5>
                                    <p class="card-text">
                                    <h6> 17 - 19 March </h6>
                                    </p>
                                    <p class="card-text lead">Round 2 - FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023</p>
                                    <p class="card-text mt-2"><small class="text-body-secondary">
                                            <a href="/results/Saudi%20Arabia%20Grand%20Prix%202">
                                                Read More
                                            </a>
                                            <input type="hidden" name="round" value="7"></input>
                                        </small></p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="images/australia.png" class="img-fluid rounded-start mt-5" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <h3 class="text-danger"> Australian Grand Prix </h3>
                                        </h5>
                                        <p class="card-text">
                                        <h6> 31 March - 02 April </h6>
                                        </p>
                                        <p class="card-text lead">Round 3 - FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023
                                        </p>
                                        <p class="card-text mt-2"><small class="text-body-secondary">
                                                <form action="/results/:race" method="post">
                                                    <a href="/results/Australian%20Grand%20Prix%203">
                                                        Read More
                                                    </a>
                                                    <input type="hidden" name="round" value="8"></input>
                                                </form>
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        &emsp14;&emsp14;&emsp14;&emsp14;

                        <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="images/baku.png" class="img-fluid rounded-start mt-5" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <h3 class="text-danger"> Azerbaijan Grand Prix </h3>
                                        </h5>
                                        <p class="card-text">
                                        <h6> 28 - 30 April </h6>
                                        </p>
                                        <p class="card-text lead">Round 4 - FORMULA 1 AZERBAIJAN GRAND PRIX 2023</p>
                                        <p class="card-text mt-2"><small class="text-body-secondary">
                                                <form action="/results/:race" method="post">
                                                    <a href="/results/Azerbaijan%20Grand%20Prix%204">
                                                        Read More
                                                    </a>
                                                    <input type="hidden" name="round" value="9"></input>
                                                </form>
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">

                            <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/miami.png" class="img-fluid rounded-start mt-5" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Miami Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 05 - 07 May </h6>
                                            </p>
                                            <p class="card-text lead">Round 5 - FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX
                                                2023</p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Miami%20Grand%20Prix%205">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="9"></input>
                                                    </form>
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &emsp14;&emsp14;&emsp14;&emsp14;

                            <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/calledoff.png" class="img-fluid rounded-start mt-5" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Italy Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 19 - 21 May </h6>
                                            </p>
                                            <p class="card-text lead">Round 6 - FORMULA 1 QATAR AIRWAYS GRAN PREMIO DEL
                                                MADE IN ITALY E DELL'EMILIA-ROMAGNA 2023</p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Italy%20Grand%20Prix%20Called%20Off">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="9"></input>
                                                    </form>
                                                </small>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- next row -->

                        <div class="row mb-3">
                            <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/monaco.png" class="img-fluid rounded-start mt-5 " alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Monaco Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 26 - 28 May </h6>
                                            </p>
                                            <p class="card-text lead">Round 7 - FORMULA 1 GRAND PRIX DE MONACO 2023</p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Monaco%20Grand%20Prix%206">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="9"></input>
                                                    </form>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &emsp14;&emsp14;&emsp14;&emsp14;

                            <div class="card mb-3 border-success text-bg-light col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/spain.png" class="img-fluid rounded-start mt-5" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Spain Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 02 - 04 June </h6>
                                            </p>
                                            <p class="card-text lead">Round 8 - FORMULA 1 AWS GRAN PREMIO DE ESPAÑA 2023
                                            </p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Spanish%20Grand%20Prix%207">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="7"></input>
                                                    </form>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/canada.avif" class="img-fluid rounded-start mt-5" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Canada Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 16 - 18 June </h6>
                                            </p>
                                            <p class="card-text lead">Round 9 - FORMULA 1 PIRELLI GRAND PRIX DU CANADA
                                                2023</p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Canada%20Grand%20Prix%2008">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="8"></input>
                                                    </form>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &emsp14;&emsp14;&emsp14;&emsp14;

                            <div class="card text-bg-light border-success mb-3 col-md-6" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="images/austria.avif" class="img-fluid rounded-start mt-5" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <h3 class="text-danger"> Austria Grand Prix </h3>
                                            </h5>
                                            <p class="card-text">
                                            <h6> 30 June - 02 July </h6>
                                            </p>
                                            <p class="card-text lead">Round 10 - FORMULA 1 GROSSER PREIS VON ÖSTERREICH
                                                2023</p>
                                            <p class="card-text mt-2"><small class="text-body-secondary">
                                                    <form action="/results/:race" method="post">
                                                        <a href="/results/Austrian%20Grand%20Prix%209">
                                                            Read More
                                                        </a>
                                                        <input type="hidden" name="round" value="9"></input>
                                                    </form>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

            </section>
        </div>

    </div>

    <%- include("partials/footer") -%>